/* HEADER */
header {
  background-image: url("../images/about-hero-xsmall.JPG");
  background-color: #0A2139; /* navy */
  height:100vh;
}
@media (min-width:420px) {
  header {
    background-image: url("../images/about-hero-small.JPG");
  }
}
@media (min-width:768px) {
  header {
    background-image: url("../images/about-hero-medium.JPG");
  }
}
@media (min-width:1200px) {
  header {
    background-image: url("../images/about-hero-large.JPG");
  }
}

/* HERO */
@media (min-width: 768px) {
  .hero .container {
    position:absolute;
    right: 0;
  }
}

/* MAIN */
.title {
  border-bottom: 3px solid #86C1AD; /* turquoise */
}

/* MY CREDENTIALS */
#credentials {
  margin-top:40px;
  background-color: #E1F0EB; /* light turquoise */
  border-radius: 25px;
  padding:10px 30px 20px;
}
@media (min-width: 768px) {
  #credentials {
    padding:10px 50px 20px;
  }
}
@media (min-width: 992px) {
  #credentials {
    height: 370px;
    width:48%;
    margin:10px 1% 20px;
    padding:10px 30px 20px;
  }
}
#credentials h3 {
  color: #86C1AD; /* turquoise */
  text-align:center;
}
#credentials ul {
  list-style:none;
  padding:0;
  display: inline;
  float: none;
  margin:0;
}
#credentials ul > li {
  text-indent:-21px;
  margin-left:40px;
  margin-bottom:15px;
}
#credentials i {
  color: #86C1AD; /* turquoise */
  font-size:20px;
  margin-right:20px;
}

/* IMG SIZING */
#work-logo {
  height:26px;
  width:auto;
}
#currently {
  width: 100%;
  background-size:auto;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #999999;
}
