/* HEADER */
header {
  background-color: #FFFFFF; /* light grey */
}
@media (min-width: 992px) {
  header {
    background-image: url("../images/about-main.jpg");
    background-color: #E2E2E2; /* light grey */
  }
}
.hero img {
  width:100%;
}
@media (min-width: 992px) {
  .hero img {
    display:none;
  }
}
