/* HEADER */
header {
  background-image: linear-gradient(-180deg, #6C0090 20%, #FFFFFF 120%); /* purple gradient */
}

/* CASE STUDY */
main h2 {
  border-bottom: 2px solid #6C0090; /* purple */
}
main h3 {
  color: #6C0090; /* purple */
}

/* BOTTOM NAV */
.bottom-nav-dark {
  background-color: #6C0090; /* purple */
}
