/* HEADER */
header {
  background-image: linear-gradient(-180deg, #6C0090 20%, #FFFFFF 120%); /* purple gradient */
}

/* CASE STUDY */
main h3 {
  color: #6C0090; /* purple */
}
.title {
  border-bottom: 3px solid #6C0090; /* purple */
}
.bg {
  background-color: #F3E4F8; /* light purple */
}

/*OVERVIEW*/
.overview i {
  color: #6C0090; /* purple */
}

/* DEFINING KEY ISSUES */
.goals {
  margin-top:30px;
  margin-bottom:20px;
  background-color: #F3E4F8; /* light purple */
  border-radius: 25px;
  padding:20px 30px;
}
.goals h3 {
  text-align:center;
}
.goals ul {
  list-style:none;
  padding:0;
}
.goals ul > li {
  padding: 15px;
}
.goals ul > li:nth-child(odd) {
  background-color: #FFFFFF; /* White */
}

/* BOTTOM NAV */
.bottom-nav-dark {
  background-color: #6C0090; /* purple */
}

/* IMG SIZING */
#app-logo {
  height:20px;
  width: auto;
  display:inline;
  margin:0;
}
@media (min-width: 762px) {
  #routesy-detail {
    width:60%;
    float:right;
    margin: 10px 0 10px 30px;
  }
}
