/* HERO - LIGHT */
.hero-light {
  display:block;
  position: relative;
  padding: 0;
}
.hero-light .container {
  width: 360px;
}
@media (min-width: 768px) {
  .hero-light .container {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .hero-light .container {
    width: 962px;
  }
}
.hero-light h1, h4, h5, p {
  text-align:center;
}
.hero-light h1 {
  line-height:44px;
}
.hero-light h4 {
  color: #333333; /* dark grey */
  margin-bottom:30px;
}
.hero-light h5 > a {
  color: #333333; /* dark grey */
  font-weight: 300;
}
.hero-light h5 > a:hover {
  color: #FFFFFF; /* white */
  text-decoration: none;
}
#icon {
  width: 16px;
}
#hero-img {
  width: 100%;
  display: block;
  margin: 30px auto 0;
}
@media (min-width: 768px) {
  #hero-img {
    width: 80%;
  }
}

/* HERO - DARK */
.hero-dark {
  display:block;
  position: relative;
  padding: 0;
}
.hero-dark .container {
  width: 360px;
}
@media (min-width: 768px) {
  .hero-dark .container {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .hero-dark .container {
    width: 962px;
  }
}
.hero-dark h1, h4, h5, p {
  text-align:center;
}
.hero-dark h1 {
  color: #FFFFFF; /* white */
  line-height:44px;
}
.hero-dark h4 {
  color: #FFFFFF; /* white */
  margin-bottom:30px;
}
.hero-dark h5 > a {
  color: #FFFFFF; /* dark grey */
  font-weight: 300;
}
.hero-dark h5 > a:hover {
  color: #86C1AD; /* turquoise */
  text-decoration: none;
}
#icon {
  width: 16px;
}
#hero-img {
  width: 100%;
  display: block;
  margin: 30px auto 0;
}
@media (min-width: 768px) {
  #hero-img {
    width: 80%;
  }
}

/* CASE STUDY */
main {
  padding: 1em 0 0;
}
main .container {
  width: 360px;
}
@media (min-width: 768px) {
  main .container {
    width: 738px;
  }
}
@media (min-width: 992px) {
  main .container {
    width: 962px;
  }
}
main h1 {
  text-align: center;
}
main h2 {
  padding-bottom:15px;
  line-height:34px;
}
main p {
  text-align:left;
}
main img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* CONCLUSION */
.conclusion, .styleguide {
  padding-bottom: 0.5em;
}

/* BOTTOM NAV - LIGHT */
.bottom-nav-light {
  padding: 1.5em 0 3em;
  text-align: center;
}
.bottom-nav-light h2 {
  padding: 0;
  border-bottom: 0;
}
.bottom-nav-light ul {
  list-style:none;
  padding:0;
  margin-bottom:35px;
}
.bottom-nav-light ul > li {
  font-size:24px;
  display: inline-block;
  margin: 0;
}
.bottom-nav-light ul > li > a {
  color: #333333; /* dark grey */
  font-weight:400;
}
.bottom-nav-light ul > li > a:hover {
  color: #FFFFFF; /* white */
  text-decoration: none;
}

/* BOTTOM NAV - DARK */
.bottom-nav-dark {
  padding: 1.5em 0 3em;
  text-align: center;
}
.bottom-nav-dark h2 {
  padding: 0;
  border-bottom: 0;
}
.bottom-nav-dark h1 {
  color: #FFFFFF; /* white */
}
.bottom-nav-dark ul {
  list-style:none;
  padding:0;
  margin-bottom:35px;
  color: #FFFFFF; /* white */
}
.bottom-nav-dark ul > li {
  font-size:24px;
  display: inline-block;
  margin: 0;
}
.bottom-nav-dark ul > li > a {
  color: #FFFFFF; /* white */
  font-weight:400;
}
.bottom-nav-dark ul > li > a:hover {
  color: #86C1AD; /* turquoise */
  text-decoration: none;
}
