/* HERO - LIGHT */
.hero-light {
  display:block;
  position: relative;
  padding: 0.5em 0 0;
}
@media (min-width:768px) {
  .hero-light {
    padding: 1.5em 0 0;
  }
}
@media (min-width:992px) {
  .hero-light {
    padding: 2em 0 0;
  }
}
@media (min-width:1200px) {
  .hero-light {
    padding: 2.5em 0 0;
  }
}
.hero-light h1, h4, h5, p {
  text-align:center;
}
.hero-light h1 {
  line-height:44px;
}
@media (min-width:768px) {
  .hero-light h1 {
    font-size:36px;
    line-height:48px;
  }
}
@media (min-width:992px) {
  .hero-light h1 {
    line-height:52px;
    font-size:40px;
  }
}
@media (min-width:1200px) {
  .hero-light h1 {
    line-height:58px;
    font-size:42px;
  }
}
.hero-light h4 {
  color: #333333; /* dark grey */
  margin-bottom:30px;
}
.hero-light h5 > a {
  color: #333333; /* dark grey */
  font-weight: 300;
}
.hero-light h5 > a:hover {
  color: #FFFFFF; /* white */
  text-decoration: none;
}
#icon {
  width: 16px;
}
#hero-img {
  width: 100%;
  display: block;
  margin: 30px auto 0;
}
@media (min-width: 768px) {
  #hero-img {
    width: 80%;
  }
}

/* HERO - DARK */
.hero-dark {
  display:block;
  position: relative;
  padding: 0.5em 0 0;
}
@media (min-width:768px) {
  .hero-dark {
    padding: 1.5em 0 0;
  }
}
@media (min-width:992px) {
  .hero-dark {
    padding: 2em 0 0;
  }
}
@media (min-width:1200px) {
  .hero-dark {
    padding: 2.5em 0 0;
  }
}
.hero-dark h1, h4, h5, p {
  text-align:center;
}
.hero-dark h1 {
  color:#FFFFFF; /* white */
  line-height:44px;
}
@media (min-width:768px) {
  .hero-dark h1 {
    font-size:36px;
    line-height:48px;
  }
}
@media (min-width:992px) {
  .hero-dark h1 {
    line-height:52px;
    font-size:40px;
  }
}
@media (min-width:1200px) {
  .hero-dark h1 {
    line-height:58px;
    font-size:42px;
  }
}
.hero-dark h4 {
  color: #FFFFFF; /* white */
  margin-bottom:30px;
}
.hero-dark h5 > a {
  color: #FFFFFF; /* dark grey */
  font-weight: 300;
}
.hero-dark h5 > a:hover {
  color: #86C1AD; /* turquoise */
  text-decoration: none;
}
#icon {
  width: 16px;
}
#hero-img {
  width: 100%;
  display: block;
  margin: 30px auto 0;
}
@media (min-width: 768px) {
  #hero-img {
    width: 80%;
  }
}

/* CASE STUDY */
@media (min-width: 1200px) {
  main .container {
    width: 1050px;
  }
}
main h1 {
  text-align: center;
}
.title {
  width: 500px;
  height: 50px;
}
.title:before {
    content: '';
    position: absolute;
    left:500px;
    border-bottom: 50px solid rgb(0,0,0,0); /* transparent */
    width: 0;
}
main h2 {
  margin-left:30px;
  line-height:34px;
  color:#FFFFFF;
  font-weight:700;
  padding-top:8px;
}
@media (min-width:762px) {
  main h2 {
    margin-left:50px;
  }
}
@media (min-width:1200px) {
  main h2 {
    margin-left:100px;
  }
}
main p {
  text-align:left;
}
main b {
  font-weight:700;
}
main img {
  width: 100%;
  display: block;
  margin: 30px auto;
}
.no-bg, .bg {
  padding:30px 0;
}

/*RETURN*/
.return {
  padding-bottom:25px;
}

/* BOTTOM NAV - LIGHT */
.bottom-nav-light {
  padding: 1.5em 0 3em;
  text-align: center;
}
.bottom-nav-light h2 {
  padding: 0;
  border-bottom: 0;
}
.bottom-nav-light ul {
  list-style:none;
  padding:0;
  margin-bottom:35px;
}
.bottom-nav-light ul > li {
  font-size:24px;
  display: inline-block;
  margin: 0;
}
.bottom-nav-light ul > li > a {
  color: #333333; /* dark grey */
  font-weight:400;
}
.bottom-nav-light ul > li > a:hover {
  color: #FFFFFF; /* white */
  text-decoration: none;
}

/* BOTTOM NAV - DARK */
.bottom-nav-dark {
  padding: 1.5em 0 3em;
  text-align: center;
}
.bottom-nav-dark h2 {
  padding: 0;
  border-bottom: 0;
}
.bottom-nav-dark h1 {
  color: #FFFFFF; /* white */
}
.bottom-nav-dark ul {
  list-style:none;
  padding:0;
  margin-bottom:35px;
  color: #FFFFFF; /* white */
}
.bottom-nav-dark ul > li {
  font-size:24px;
  display: inline-block;
  margin: 0;
}
.bottom-nav-dark ul > li > a {
  color: #FFFFFF; /* white */
  font-weight:400;
}
.bottom-nav-dark ul > li > a:hover {
  color: #86C1AD; /* turquoise */
  text-decoration: none;
}
