/* HEADER */
header {
  background-image: url("../images/contact-hero-small.jpg");
  background-color: #E2E2E2; /* light grey */
  height:100vh;
}
@media (min-width: 768px) {
  header {
    background-image: url("../images/contact-hero-large.jpg");
  }
}

/* FORM */
main {
  text-align:center;
  padding-bottom:1em;
  background-color: #E1F0EB; /* light turquoise */
}
.form {
  padding: 2em 0 0.5em;
}
input[type=text], input[type=email], textarea[name=message] {
  font-family: "Open Sans";
  font-size: 16px;
  width: 330px;
  margin: 0px auto 15px;
  padding: 15px;
  border: 1px solid #FFFFFF; /* white */
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
textarea[name=message] {
  height: 200px;
}
input[type=submit] {
  width: 330px;
  border: 0px;
  background-color: #86C1AD; /* turquoise */
  color: #FFFFFF; /* turquoise */
  padding: 15px 25px;
  font-family: "Open Sans";
  font-size:16px;
}
input[type=submit]:hover {
  background-color: #0A2139; /* navy */
  cursor: pointer;
}
@media (min-width:768px) {
  input[type=text], input[type=email], textarea[name=message] {
    width: 500px;
  }
  input[type=submit] {
    width: 500px;
  }
}
@media (min-width:992px) {
  input[type=text], input[type=email], textarea[name=message] {
    width: 600px;
  }
  input[type=submit] {
    width: 600px;
  }
}
