/* HEADER */
header {
  background-image: url("../images/contact-hero-small.jpg");
  background-color: #E2E2E2; /* light grey */
}
@media (min-width: 768px) {
  header {
    background-image: url("../images/contact-hero-large.jpg");
  }
}

/* FORM */
.form {
  text-align: center;
  padding: 3em 0 5em 0;
}
input[type=text], input[type=email], textarea[name=message] {
  font-family: "Open Sans";
  font-size: 16px;
  width: 330px;
  margin: 0px auto 15px;
  padding: 15px;
  border: 1px solid #CCCCCC; /* light grey */
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=submit] {
  width: 330px;
  border: 0px;
  background-color: #86C1AD; /* turquoise */
  color: #FFFFFF; /* turquoise */
  padding: 15px 25px;
  font-family: "Open Sans";
  font-size:16px;
}
input[type=submit]:hover {
  background-color: rgba(134, 193, 173, 0.6); /* transparent turquoise */
  cursor: pointer;
}
@media (min-width:768px) {
  input[type=text], input[type=email], textarea[name=message] {
    width: 500px;
  }
  input[type=submit] {
    width: 500px;
  }
}
@media (min-width:992px) {
  input[type=text], input[type=email], textarea[name=message] {
    width: 600px;
  }
  input[type=submit] {
    width: 600px;
  }
}
