/* HEADER */
header {
  background-image: linear-gradient(-180deg, #002661 20%, #FFFFFF 120%); /* dark blue gradient */
}

/* CASE STUDY */
main h3 {
  color: #002661; /* dark blue */
}
main h3, h6 {
  color: #002661; /* dark blue */
}
.title {
  background-color: #002661; /* dark blue */

}
.title:before {
  border-left: 35px solid #002661; /* dark blue */
}
.bg {
  background-color: rgb(0,38,97,0.2); /* transparent dark blue */
}

/*OVERVIEW*/
#craigslist-overview {
  margin-top:30px;
  background-color: #FFFFFF; /*white*/
  border-radius: 25px;
  padding:30px 30px 15px;
}
@media (min-width:992px) {
  #craigslist-overview {
    height:430px;
  }
}
@media (min-width:1200px) {
  #craigslist-overview {
    height:400px;
  }
}
#craigslist-overview h3 {
  text-align: center;
}

#craigslist-overview ul {
  list-style:none;
  padding:0;
  display: inline;
  float: none;
  margin:0;
}
#craigslist-overview img {
  height:30px;
  width:auto;
}

/* IMAGE SIZING */
@media (min-width: 768px) {
  #craigslist-mindmap {
   width: 70%;
   float: right;
   margin: 15px 0 15px 30px;

 }
  #craigslist-logo-sketch {
    width: 80%;
  }
  #craigslist-styleguide {
    width: 60%;
    float: left;
    margin: 0 30px 30px 0;
  }
}

/* BOTTOM NAV */
.bottom-nav-dark {
  background-color: #002661; /* dark blue */
}
