/* HEADER */
header {
  background-image: linear-gradient(-180deg, #3498DB 20%, #FFFFFF 120%); /* bright blue gradient */
}

/* CASE STUDY */
main h2 {
  border-bottom: 2px solid #3498DB; /* bright blue */
}
main h3 {
  color: #3498DB; /* bright blue */
}

/* BOTTOM NAV */
.bottom-nav-light {
  background-color: #3498DB; /* bright blue */
}
