/* HEADER */
header {
  background-image: linear-gradient(-180deg, #3498DB 20%, #FFFFFF 120%); /* bright blue gradient */
}

/* CASE STUDY */
main h3, h6 {
  color: #3498DB; /* bright blue */
}
.title {
  border-bottom: 3px solid #3498DB; /* bright blue */
}

/*OVERVIEW*/
.overview i {
  color: #3498DB; /* bright blue */
}

/* IMG BG */
.img-bg {
  background-color: #D8EAF6; /* light blue */
}

/* COMPETITIVE ANALYSIS */
#competitive-analysis {
  background-color: #F7F7F7; /* lighter gray */
  padding:30px;
  box-shadow: 2px 2px 5px #E2E2E2; /* light gray */
  margin-bottom: 30px;
}
@media (min-width:992px) {
  #competitive-analysis {
    height:500px;
    margin-bottom: 50px;
  }
}
#competitive-analysis h3 {
  text-align: center;
  font-size:18px;
}
#competitive-analysis p {
  text-align: center;
}

/* SURVEY RESULTS */
.survey-results {
  background-color: #D8EAF6; /* light blue */
}
.survey-results h6 {
  color: #ADD8F5; /* transparent bright blue */
}

/* IMG RESIZING */
#logo {
  height:40px;
  margin-bottom:50px;
  width: auto;
}
@media (min-width: 992px) {
  #logo {
    height:28px;
  }
}
#cubby-logooptions {
  background-color:#FFFFFF;
  padding:30px;
}
@media (min-width: 768px) {
  #cubby-typefaces, #cubby-colorpalette {
    width: 65%;
  }
  #cubby-logooptions {
    width:50%;
  }
  #cubby-logo {
    width: 50%;
  }
  #cubby-slidingnav {
    width: 80%;
  }
}

/* BOTTOM NAV */
.bottom-nav-light {
  background-color: #3498DB; /* bright blue */
}
