/* HEADER */
header {
  background-image: linear-gradient(-180deg, #8BC25F 20%, #FFFFFF 120%); /* green gradient */
}

/* CASE STUDY */
main h3 {
  color: #8BC25F; /* green */
}
.title {
  border-bottom: 3px solid #8BC25F; /* green */
}
.quote {
  color: #8BC25F; /* green */
}

/* OVERVIEW */
.overview i {
  color: #8BC25F; /* green */
}

/* SURVEY RESULTS */
.survey-results {
  background-color: #E5F1DB; /* light green */
}
.survey-results h6 {
  color: #BADBA0; /* light green */
}

/* IMG BG */
.img-bg {
    background-color: #E5F1DB; /* light green */
}

/* IMG SIZING */
#pairings-userflow2 {
  padding:10px;
  background-color: #FFFFFF; /* white */
}
#pairings-sitemap {
  padding:15px;
  background-color: #FFFFFF; /* white */
}
#pairings-preferencetest {
  padding:15px;
  background-color: #FFFFFF; /* white */
}
@media (min-width: 768px) {
  #pairings-usertesting {
    width: auto;
  }
}

/* BOTTOM NAV */
.bottom-nav-light {
  background-color: #8BC25F; /* green */
}
