/* HEADER */
header {
  background-image: linear-gradient(-180deg, #8BC25F 20%, #FFFFFF 120%); /* green gradient */
}

/* CASE STUDY */
main h3, h6 {
  color: #8BC25F; /* green */
}
.title {
  background-color: #8BC25F; /* green */
}
.title:before {
  border-left: 35px solid #8BC25F; /* green */
}
.bg {
  background-color: rgb(139,194,95,0.25); /* transparent green */
}

/*OVERVIEW*/
#pairings-overview {
  margin-top:30px;
  background-color: #FFFFFF; /*white*/
  border-radius: 25px;
  padding:30px 30px 15px;
}
@media (min-width:992px) {
  #pairings-overview {
    height:530px;
  }
}
@media (min-width:1200px) {
  #pairings-overview {
    height:460px;
  }
}
#pairings-overview h3 {
  text-align: center;
}

#pairings-overview ul {
  list-style:none;
  padding:0;
  display: inline;
  float: none;
  margin:0;
}
#pairings-overview img {
  height:30px;
  width:auto;
}

/* SURVEY RESULTS */
.survey-results {
  background-color: rgb(139,194,95,0.25); /* transparent green */
}
.survey-results h5 {
  color: rgb(139,194,95,0.4); /* transparent green */
}

/* IMG SIZING */
@media (min-width: 762px) {
  #usertesting-img {
    width: auto;
    margin: 0 30px 30px 0;
    float:left;
  }
  #pairings-userstories, #pairings-styleguide {
    width: 80%;
  }
  #pairings-mind-map, #pairings-logo-design {
    width: 95%;
  }
  #pairings-icontoggle, #pairings-homepage, #pairings-recipeprofile {
    width: 90%;
  }
  #pairings-userflow1, #pairings-userflow2 {
    width: 49%;
    display: inline;
    margin-right:5px;
    vertical-align: top;
  }
  #pairings-hand-wireframes {
    width: 47%;
    display: inline;
    margin-right:5px;
  }
  #pairings-lofi-wireframes {
    width: 51%;
    display: inline;
    margin-left:5px;
  }
}

/* BOTTOM NAV */
.bottom-nav-light {
  background-color: #8BC25F; /* green */
}
