/* HEADER */
header {
  background-color: #0A2139; /* navy */
  background-image: url("../images/projects-hero-small.jpg");
  background-size:contain;
}
@media (min-width: 768px) {
  header {
    background-image: url("../images/projects-hero-medium.jpg");
    background-size:cover;
  }
}
@media (min-width: 992px) {
  header {
    background-image: url("../images/projects-hero-large.jpg");
  }
}

/* PROJECTS */
.projects {
  padding: 1em 0;
}
@media (min-width:768px) {
  .projects {
    padding: 2em 0;
  }
}
.projects ul {
  list-style:none;
  padding:0;
}
.projects p {
  text-align:left;
  line-height: 24px;
}

/* PORTFOLIO ITEMS */
.portfolio-item {
  background-repeat: no-repeat;
  background-size: contain;
  width: 360px;
  padding: 230px 5px 5px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .portfolio-item {
    width: 500px;
    padding: 310px 30px 20px;
  }
}
@media (min-width: 992px) {
  .portfolio-item {
    background-size: cover;
    height: 370px;
    width: 455px;
    padding: 10px 30px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item {
    height: 455px;
    width: 560px;
    padding: 20px 40px;
  }
}
.portfolio-item.pairings {
  background-image: url("../images/pairings.png");
  background-color: #FFFFFF; /* white */
}
.portfolio-item.cubby {
  background-image: url("../images/cubby.png");
  background-color: #FFFFFF; /* white */
}
.portfolio-item.busybus {
  background-image: url("../images/busybus.png");
  background-color: #FFFFFF; /* white */
}
.portfolio-item.craigslist {
  background-image: url("../images/craigslist.png");
  background-color: #FFFFFF; /* white */
}
@media (min-width: 992px) {
  .portfolio-item.pairings {
    background-color: #8BC25F; /* green */
  }
  .portfolio-item.cubby {
    background-color: #3498DB; /* bright blue */
  }
  .portfolio-item.busybus {
    background-color: #6C0090; /* purple */
  }
  .portfolio-item.craigslist {
    background-color: #002661; /* dark blue */
  }
}
.portfolio-btn {
  background-color: #86C1AD; /* turquoise */
  padding: 10px 10px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF; /* white */
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.portfolio-btn:hover {
  background-color: #0A2139; /* navy */
  color: #FFFFFF; /* white */
  text-decoration: none;
}
@media (min-width: 768px) {
  .portfolio-btn {
    padding: 15px 30px;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .portfolio-btn {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    color: #FFFFFF; /* white */
  }
  .portfolio-btn:hover {
    background-color: #86C1AD; /* turquoise */
    border: 2px solid #86C1AD; /* turquoise */
    color: #FFFFFF; /* white */
  }
}
@media (min-width: 1200px) {
  .portfolio-btn {
    padding: 15px 30px;
    font-size: 16px;
  }
}
.portfolio-item h2 {
  text-align: center;
}
/* display more details on hover for larger screens */
@media (min-width: 992px) {
  .portfolio-item h2 {
    color: #333333; /* dark grey */
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: 0px;
  }
  .portfolio-item:hover h2 {
    color: #FFFFFF; /* white */
  }
  .more-info p {
    color: #FFFFFF; /* white */
  }
  .more-info {
    opacity: 0;
    transition: .2s ease-in-out;
  }
  .portfolio-item:hover .more-info {
    opacity: 1;
  }
  .overlay {
    position: relative;
  }
  .overlay:before {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
    z-index:0;
    background-color: rgba(0,0,0,0.75); /* 75% opacity black */
  }
  .overlay:hover:before {
    display: block;
  }
  .portfolio-item * {
    position: relative;
  }
}

/* CONTACT */
.contact {
  background-color: #0A2139; /* navy */
  padding: 2em 0;
}
.contact h1, .contact p {
  text-align:center;
  color: #FFFFFF; /* white */
}
