* {
  box-sizing: border-box;
}
section:focus {
    outline: none;
}

/* GRID */
.container {
  width: 360px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  position:relative;
  min-height: 1px;
  margin:0 auto 10px;
}
@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 962px;
  }
  .one-half {
    width:50%;
    float:left;
  }
  .one-third {
    width:29.33333%;
    float:left;
    margin:10px 2%;
  }
  .one-fourth {
    width:21%;
    float:left;
    margin:10px 2%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* TEXT STYLES */
html, body{
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  color: #333333; /* dark grey */
}
h2 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #333333; /* dark gray */
}
h3 {
  font-size: 20px;
  font-weight: 700;
  color: #999999; /* medium grey */
}
h4 {
  font-size: 12px;
  font-weight: 700;
  line-height:20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #86C1AD; /* turquoise */
}
h5 {
  font-size: 14px;
  font-weight: 300;
  color: #333333; /* dark grey */
}
p {
  font-size: 16px;
  font-weight: 300;
  color: #333333; /* dark grey */
  line-height:30px;
}
a {
  font-family: "Open Sans";
  font-weight: 700;
  color: #86C1AD; /* turquoise */
  text-decoration: none;
}
a:hover {
  color: #86C1AD; /* turquoise */
  text-decoration:underline;
}
.btn {
  background-color: #86C1AD; /* turquoise */
  color: #FFFFFF; /* turquoise */
  padding: 15px 25px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background-color: rgba(134, 193, 173, 0.6); /* transparent turquoise */
  color: #FFFFFF; /* white */
  text-decoration: none;
}
.btn-light {
  background-color: #FFFFFF; /* white */
  border: 2px solid #FFFFFF; /* white */
  color: #333333; /* dark grey */
  padding: 15px 25px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn-light:hover {
  background-color: transparent;
  border: 2px solid white;
  color: #FFFFFF; /* white */
  text-decoration: none;
}
.btn-dark {
  background-color: transparent;
  border: 2px solid white;
  color: #FFFFFF; /* white */
  padding: 15px 25px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn-dark:hover {
  background-color: #86C1AD; /* turquoise */
  border: 2px solid #86C1AD; /* turquoise */
  color: #FFFFFF; /* white */
  text-decoration: none;
}
ul > li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #333333; /* dark grey */
}

/* HEADER */
header {
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  padding: 1.8em 0 1em;
  text-align: center;
}
.logo-light {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 400;
  color: #333333; /* dark grey */
}
.logo-light:hover {
  color: #333333; /* dark grey */
  text-decoration:none;
}
.logo-dark {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 400;
  color: #FFFFFF; /* white */
}
.logo-dark:hover {
  color: #FFFFFF; /* white */
  text-decoration:none;
}
header nav ul {
  list-style:none;
  padding:0;
  display: inline;
  float: none;
  margin:0;
}
header nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.navlinks-light > li > a {
  font-size: 14px;
  color: #333333; /* dark grey */
  font-weight: 300;
}
.navlinks-light > li > a:hover {
  color: #FFFFFF; /* white */
  text-decoration: none;
}
.navlinks-dark > li > a {
  font-size: 14px;
  color: #FFFFFF; /* white */
  font-weight: 300;
}
.navlinks-dark > li > a:hover {
  color: #86C1AD; /* turquoise */
  text-decoration: none;
}
@media (min-width:992px) {
  header nav {
    text-align:left;
  }
  header nav ul {
    float:right;
  }
}

/* FOOTER */
footer {
  background-color: #E2E2E2; /*light grey */
  padding: 0.5em 0 0.2em;
  text-align:center;
}
footer p {
  font-size:14px;
}
.footer-links a {
  color: #333333; /* dark grey */
  text-decoration:underline;
}
.footer-links a:hover {
  color: #86C1AD; /* turquoise */
}
.footer-links ul {
  list-style:none;
  padding:0;
  margin-bottom:0;
}
.footer-links ul > li {
  display: inline-block;
  font-size:18px;
  margin: 0 10px;
}
@media (min-width:992px) {
  footer p {
    text-align:left;
  }
  .footer-links ul {
    float:right;
  }
}
