* {
  box-sizing: border-box;
}
*:focus {
    outline: none;
}

/* GRID */
.container {
  width: 360px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  position:relative;
  min-height: 1px;
  margin:0 auto 10px;
}
@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 962px;
  }
  .one-half {
    width:50%;
    float:left;
  }
  .one-third {
    width:32%;
    float:left;
    margin:10px 0.66666%;
  }
  .one-fourth {
    width:21%;
    float:left;
    margin:10px 2%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* TEXT STYLES */
html, body{
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
h1 {
  text-align:center;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  color: #333333; /* dark gray */
  line-height: normal;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.07em;
  color: #333333; /* dark gray */
  line-height: normal;
  margin-top:0;
}
.title {
  height: 45px;
  margin-bottom:20px;
}
@media (min-width:768px) {
  h2 {
    font-size: 34px;
  }
  .title {
    height: 60px;
    margin-bottom:30px;
  }
}
h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
h4 {
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF; /* white */
  line-height: 1.5;
}
h5 {
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #86C1AD; /* turquoise */
  line-height: 1.5;
}
h6 {
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF; /* white */
  text-align: center;
  line-height: 1.5;
}
p {
  font-size: 16px;
  font-weight: 300;
  color: #333333; /* dark grey */
  line-height: 1.9;
}
main b {
  font-weight:700;
}
ul > li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333333; /* dark grey */
  line-height:1.5;
  margin-bottom:15px;
}
a {
  font-family: "Open Sans";
  font-weight: 400;
  color: #86C1AD; /* turquoise */
  text-decoration: none;
}
a:hover {
  color: #86C1AD; /* turquoise */
  text-decoration: underline;
}
.btn {
  background-color: #86C1AD; /* turquoise */
  color: #FFFFFF; /* white */
  padding: 15px 25px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background-color: #FFFFFF; /* white */
  color: #0A2139; /* navy */
  text-decoration: none;
}
.btn-dark {
  background-color: transparent;
  border: 2px solid white;
  color: #FFFFFF; /* white */
  padding: 15px 25px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn-dark:hover {
  color: #0A2139; /* navy */
  background-color: #FFFFFF; /* white */
  border: 2px solid #FFFFFF; /* white */
  text-decoration: none;
}

/* HEADER */
header {
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  padding: 15px 0 5px;
  text-align: center;
}
.top-header {
  background-color: rgba(250,250,250,0.7); /* 70% opacity white */
  box-shadow: 2px 0 4px #999999;
}
.logo {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 400;
  color: #333333; /* dark grey */
}
.last-name {
  color: #86C1AD; /* turquoise */
}
.logo:hover {
  color: #333333; /* dark grey */
  text-decoration:none;
}
header nav ul {
  list-style:none;
  padding:0;
  display: inline;
  float: none;
  margin:0;
}
header nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.navlinks > li > a {
  font-size: 14px;
  color: #333333; /* dark grey */
  font-weight: 300;
}
.navlinks > li > a:hover {
  color: #333333; /* dark grey */
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 2px solid #86C1AD; /* turquoise */
  transition: all 0.3s ease;
}
@media (min-width:992px) {
  header nav {
    text-align:left;
  }
  header nav ul {
    float:right;
  }
}
/* HERO */
.hero {
  display:block;
  position: relative;
}
.hero .container {
  width: 100%;
  background-color: #0A2139; /* navy */
  position:absolute;
  bottom: -90vh;
  padding:10px 20px 20px;
}
@media (min-width: 768px) {
  .hero .container {
    position:absolute;
    bottom: -82vh;
    width: 550px;
    padding: 10px 50px;
    background-color: rgba(10, 33, 57, 0.7); /* transparent dark grey */
  }
}
@media (min-width: 992px) {
  .hero .container {
    width: 680px;
  }
}
.hero h1 {
  text-align: center;
  color: #FFFFFF; /* white */
}
.hero h4 {
  text-align: center;
}
.hero p {
  text-align: center;
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 36px;
    text-align:left;
  }
  .hero h4 {
    font-size: 18px;
    text-align:left;
  }
  .hero h6 {
    text-align:left;
  }
  .hero p {
    text-align:left;
  }
}
@media (min-width:992px) {
  .hero h1 {
    font-size: 44px;
  }
}

/* MAIN */
#text {
  max-width: 720px;
}
.no-bg, .bg {
  padding:50px 0 0;
}

/* RETURN */
.return {
  padding-bottom:25px;
}

/* LAST CALL */
.contact {
  background-color: #0A2139; /* navy */
  padding: 1.5em 0 2em;
}
.contact h1, .contact p {
  text-align:center;
  color: #FFFFFF; /* white */
}

/* FOOTER */
footer {
  background-color: #F7F7F7; /*light grey */
  padding: 1em 0 0.5em;
  text-align:center;
}
footer p {
  font-size:14px;
  text-align:center;
  color: #333333; /* dark grey */
}
.footer-links a {
  color: #333333; /* dark grey */
}
.footer-links a:hover {
  color: #86C1AD; /* turquoise */
}
.footer-links ul {
  list-style:none;
  padding:0;
  margin-bottom:0;
}
.footer-links ul > li {
  display: inline-block;
  font-size:18px;
  margin: 0 10px;
}
@media (min-width:992px) {
  footer p {
    text-align:left;
  }
  .footer-links ul {
    float:right;
  }
}
