* {
  box-sizing: border-box;
}

/* GRID */
.container {
  width: 360px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  position:relative;
  min-height: 1px;
  margin:0 auto 10px;
}
@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 962px;
  }
  .one-half {
    width:50%;
    float:left;
  }
  .one-third {
    width:29.33333%;
    float:left;
    margin:10px 2%;
  }
  .one-fourth {
    width:21%;
    float:left;
    margin:10px 2%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* TEXT STYLES */
html, body{
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height:22px;
}
h1 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  color: #333333; /* dark grey */
}
h2 {
  font-size: 16px;
  font-weight: 300;
  color: #333333; /* dark grey */
}
h3 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #333333; /* dark gray */
}
h4 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #86C1AD; /* turquoise */
}
h5 {
  font-size: 14px;
  font-weight: 300;
  color: #333333; /* dark grey */
}
p {
  font-size: 16px;
  font-weight: 300;
  color: #333333; /* dark grey */
}
a {
  font-family: "Open Sans";
  font-weight: 300;
  color: #86C1AD; /* turquoise */
  text-decoration: none;
}
a:hover {
  color: #333333; /* dark grey */
}
.btn {
  background-color: #86C1AD; /* turquoise */
  padding: 15px 30px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #FFFFFF; /* white */
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background-color: rgba(134, 193, 173, 0.6); /* transparent turquoise */
  color: #FFFFFF; /* white */
}
